/* =============================================
Common
============================================= */

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  color: #000;
  font-family: 'Roboto',
    sans-serif;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
}

h2 {
  font-size: 35px;
  margin: 30px 0 10px;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto;
  background-color: #000;

}

a {
  text-decoration: none;
  color: orangered;
}

a:hover {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* logo */

.logo {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto 10px;
  position: relative;
}

.logo li {
  width: 33px;
  height: 33px;
  display: inline-block;
}

.logo-desc {
  font-size: 6px;
}

.logo .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
}

/* float */

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix {
  clear: both;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

/* scroll-fadein */

.scroll-fadein.invisible {
  opacity: 0;
  transform: translate(0, 70px);

}

.scroll-fadein.scrollin {
  opacity: 1;
  transform: translate(0,0);
  transition: all 1000ms;
}
