@charset "utf-8";

/* =============================================
Header navigation
============================================= */

#nav {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;

  /* shadow */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-title {
  font-family: 'Meie Script',
    cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

/**
  * 製作中の表示
  * 開発後、HTMLの対象コンテンツと
  * このスタイルをコメントアウト
  */
  #nav h1,
  #nav p {
    display: inline-block;
    vertical-align: middle;
  }
  #nav p {
    font-size: small;
    margin-left: 20px;
  }

  @media screen and (max-width: 767px) {
    #nav p {
      display: block;
      margin: 15px 10px 0;
      text-align: center;
    }
  }

.nav-title a {
  color: #000;
}

.nav-list {
  position: absolute;
  right: -100%;
  top: 0;
  margin-top: 15px;
  /* 要素同士の隙間が開くのを防ぐ */
  letter-spacing: -0.5em;
}

.nav-list li {
  display: inline-block;
  letter-spacing: normal;
}

.nav-list li + li {
  border-left: 1px solid #aaa;
}

.nav-list a {
  display: block;
  padding: 5px 15px;
  color: #000;
}

.nav-list a:hover {
  color: #777;
}

/* =============================================
Main content
============================================= */

#main {
  margin-bottom: 80px;
}

/*-------------------------------------
Top
--------------------------------------*/

.top {
  position: relative;
  height: 500px;
  background: url(../img/top2.png) left top/cover no-repeat;
  color: #fff;
}

.top .content {
  position: absolute;
  left: -100%;
  top: 50%;
}

.top .content h2 {
  letter-spacing: 7px;
  font-size: 30px;
}

.top .content a {
  color: #fff;
}

.top .content h2::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #fff;
}

.top .content p {
  text-align: center;
  font-size: small;
}


/*-------------------------------------
About
--------------------------------------*/

#about {
  background: linear-gradient(#fff, #fff 40%, #eee 40%, #eee);
  padding: 20px;
  position: relative;
}

.prf-img {
  text-align: center;
  margin-bottom: 20px;
}

.prf-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.logo-upper-right {
  width: 15%;
  position: absolute;
  top: 43%;
  right: 15%;
}

.introduction-first-half,
.introduction-latter-half {
  width: 46%;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 1.8em;
  text-decoration: dotted;
}


/* =============================================
Footer
============================================= */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -5;
}

.rain {
  padding: 30px;
  height: 20px;
}

#footer .content {
  position: absolute;
  text-align: center;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 767px) {
  #about {
    background: linear-gradient(#fff, #fff 21%, #eee 21%, #eee);
    padding: 20px;
    position: relative;
  }

  .prf-img {
    text-align: center;
    margin-bottom: 20px;
  }

  .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .logo-upper-right {
    width: 100%;
    position: static;
  }

  .introduction-first-half,
  .introduction-latter-half {
    width: 100%;
  }
}