/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";

/* =============================================
Common
============================================= */

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  color: #000;
  font-family: 'Roboto',
    sans-serif;
  height: 100%;
}

.wrapper {
  position:relative;
  min-height: 100vh;
  padding-bottom: 20px;
}

h2 {
  font-size: 35px;
  margin: 30px 0 10px;
  text-align: center;
}

h2::after {
  content:"";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto;
  background-color: #000;

}

a {
  text-decoration: none;
  color: orangered;
}

a:hover {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* logo */

.logo {
  margin: 20px 0 0 10px;
  position: relative;
}

.logo li {
  width: 33px;
  height: 33px;
  margin: 0 10px;
  display: inline-block;
}

.logo-desc {
  font-size: 6px;
}

.logo .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
}

/* float */

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix {
  clear: both;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}


/* =============================================
Loading animation

src: https: //tobiasahlin.com/spinkit/
============================================= */
  .is-loading {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #333;
    z-index: 8;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    z-index: 9;
  }
  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .cube1,
  .cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }

  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  @-webkit-keyframes sk-cubemove {
    25% {
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
      -webkit-transform: rotate(-360deg)
    }
  }

  @keyframes sk-cubemove {
    25% {
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }



/* =============================================
Header navigation
============================================= */

#nav {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
}

.nav-title {
  font-family: 'Meie Script',
    cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

.nav-title a {
  color: #000;
}

.nav-list {
  position: absolute;
  right: -100%;
  top: 0;
}

.nav-list li {
  display: inline-block;
}

.nav-list li + li {
  border-left: 1px solid #aaa;
}

.nav-list a {
  display: block;
  padding: 5px 15px;
  color: #000;
}

.nav-list a:hover {
  color: #777;
}

/* =============================================
Main content
============================================= */

/* top */

.top {
  position: relative;
  height: 500px;
  background: url(../img/top2.png) left top/cover no-repeat;
  color: #fff;
}

.top .content {
  position: absolute;
  left: -100%;
  top: 60%;
}

.top .content h2 {
  letter-spacing: 7px;
  font-size: 30px;
}

.top .content a {
  color: #fff;
}

.top .content h2::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #fff;
}

.top .content p {
  text-align: right;
  font-size: small;
}

/* =============================================
Footer
============================================= */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rain {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 30px;
  height: 20px;
  text-align: center;
}

#footer .content {
  position: absolute;
  text-align: center;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}