@charset "utf-8";

@import 'mixin.scss';

/* =============================================
Common
============================================= */

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  color: #000;
  font-family: 'Roboto',
    sans-serif;
  height: 100%;
  line-height: 2em;
}



/*-------------------------------------
Header navigation
--------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #f5f5f5;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  .title {
    font-family: 'Meie Script',
      cursive;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: 100;
    padding-left: 10px;
  }

  .pc {
    .list {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      /* 要素同士の隙間が開くのを防ぐ */
      letter-spacing: -0.5em;

      li {
        display: inline-block;
        letter-spacing: normal;

        +li {
          border-left: 1px solid #aaa;
        }
      }

      a {
        display: block;
        padding: 5px 15px;
        transition: transform .2s $timing-function2;
        font-family: 'Bubbler One',
          sans-serif;
        font-weight: bold;


        &:hover {
          color: #777;
          transform: translateY(-.2em);
          transition: transform .2s $timing-function2;
        }
      }
    }
  }

  .mb {
    display: none;
  }
}

@media screen and (max-width: 599px) {

  .header {

    .pc {
      display: none;
    }

    .mb {
      display: block;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      .ham-btn {
        z-index: 999;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 36px;
        width: 42px;

        &-line {
          display: flex;
          position: relative;
          flex-direction: row-reverse;
          height: 2px;
          margin: 8px 0;
          background-color: #777;
          transition: background-color .6s $timing-function1;

          &:nth-of-type(1) {
            width: 100%;
            transition: transform .4s $timing-function1;
          }

          &:nth-of-type(2) {
            width: 80%;
            transition: transform .8s $timing-function1;
          }

          &:nth-of-type(3) {
            width: 60%;
            transition: transform 1.2s $timing-function1;
          }
        }
      }

      .menu {
        position: fixed;
        top: 0%;
        left: 100%;
        height: 800px;
        width: 1000px;
        transition: transform .6s $timing-function2,
          left .6s $timing-function2;
        background: rgba(0, 0, 0, 0.85);

        .list {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: rotate(-45deg);
          transition: left .6s $timing-function2,
            top .6s $timing-function2;

          .list-item {
            a {
              display: block;
              padding: 20px;
              color: #fff;
              font-size: 27px;
            }
          }
        }
      }

      .open {

        &.ham-btn {

          &-line {
            background-color: #ccc;
            transition: background-color .6s $timing-function2;

            &:nth-of-type(1) {
              width: 15px;
              top: 8px;
              left: -5px;
              transform: rotate(135deg) translateX(-5px);
              transition: transform .4s $timing-function2;
            }

            &:nth-of-type(2) {
              width: 80%;
              transform: rotate(180deg);
              transition: transform .8s $timing-function2;
            }

            &:nth-of-type(3) {
              width: 15px;
              bottom: 8px;
              left: -5px;
              transform: rotate(-135deg) translateX(-5px);
              transition: transform 1.2s $timing-function2;
            }
          }
        }


        &.menu {
          display: flex;
          flex-direction: column;
          transform: rotate(45deg);
          left: 35%;
          transition: transform .6s $timing-function2,
            left .6s $timing-function2;

          .list {
            position: absolute;
            //位置調整
            top: 55%;
            left: 12%;
            transform: rotate(-45deg);
            transition: left .6s $timing-function2,
              top .6s $timing-function2;
          }
        }
      }
    }
  }
}



.wrapper {
  height: 100%;
  padding-bottom: 20px;
  position: relative;

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {
    position: relative;
    height: 100%;
    // color: #fad700;

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      h2 {
        letter-spacing: 7px;
        font-size: 50px;

        &::after {
          @include underline;
          width: 100%;
        }
      }

      p {
        font-family: 'Bad Script',
        cursive;
        text-align: center;
        font-size: small;
        font-size: 20px;
      }

      li {
        width: 45px;
        height: 45px;
      }

      // a {
      //   color: #fad700;
      // }
    }
  }

}

/* =============================================
  Footer
  ============================================= */

.footer {
  width: 100%;

  .rain {
    padding: 30px;
    height: 20px;
  }

  .content {
    position: absolute;
    text-align: center;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }
}



.container {
  width: 90%;
  margin: auto;
  // ページ内リンク対策
  padding-top: 100px;
}

h2 {
  font-family: 'Bad Script',
  cursive;
  font-size: 35px;
  text-align: center;

  &::after {
    @include underline;
  }
}

@media screen and (max-width: 599px) {
  h2 {

    &::after {
      @include underline;
      width: 40%;
    }
  }
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

strong {
  position: relative;
  background: linear-gradient(transparent 70%, #02dded 70%);
}

/* logo */

.logo {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto 10px;
  position: relative;

  li {
    width: 35px;
    height: 35px;
    display: inline-block;
    transition: transform .2s $timing-function2;
  }

  li:hover{
    transform: translateY(-5px);
    transition: transform .2s $timing-function2;
  }

}

.logo {
  &-desc {
    font-size: 6px;
  }

  &-twitter {
    margin-top: 3px;
  }
}



/* .logo .position-qiita,
  .logo-switching .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
} */

/* float */

.float {
  &L {
    float: left;
  }

  &R {
    float: right;
  }
}



.over-hidden {
  overflow: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

/* scroll-fadein */


.scroll-fadein {
  &.invisible {
    opacity: 0;
    transform: translate(0, 50px);

    @media screen and (max-width: 600px) {
      transform: translate(0, 30px);
    }
  }

  &.scrollin {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1000ms;
  }
}

/**
  * パララックス
  */

  .parallax {
    background: left top/cover no-repeat fixed;
    height: 100%;

    &.top {
      background-image: url(../img/top.jpg);
    }

  }

/**
  * トップへ戻る
  */

  .to-top {
    background-color: rgba(135, 206, 250,0.8);
    width: 50px;
    height: 50px;
    border-radius: 40% 40% 50% 40%/50% 50% 50% 50%;
    opacity: 0.7;
    position: fixed;
    right: 20px;
    bottom: 20px;

    a {
      display: block;
      background-color: red;

      &:hover {
        cursor: pointer;
      }

      &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f106';
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
      }
    }
  }
