@charset "utf-8";

@import 'mixin.scss';

/* =============================================
Common
============================================= */

* {
  margin: 0;
  padding: 0;
  // モバイル端末でタップした時に暗い影が表示されるのを防ぐ
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

html,
body {
  color: #000;
  height: 100%;
  line-height: 1.8em;
  letter-spacing: .1em;
  // font-family: 'Kosugi',
  // sans-serif;
  font-family: Helvetica,
  '游ゴシック',
  'Yu Gothic',
  YuGothic,
  HiraKakuProN-W3,
  'メイリオ',
  Meiryo,
  sans-serif;
  color: #333;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

h2 {
  font-family: 'Bad Script',
    cursive;
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.2em;
  letter-spacing: .1em;

  &::after {
    @include underline;

    //animation
    animation-name: underline;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-direction: alternate;

    @keyframes underline {
      0% {
        width: 10%;
      }

      80% {
        width: 20%;
      }

      100% {
        width: 20%;
      }
    }
  }
}

p {
  text-indent: 1em;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

strong {
  position: relative;
  background: linear-gradient(transparent 70%, #fff462 70%);
  color: #333;
  font-weight: normal;
}


/*-------------------------------------
Header navigation
--------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #f5f5f5;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  .title {
    font-family: 'Meie Script',
      cursive;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: 100;
    padding-left: 10px;
  }

  .pc {

    .list {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      /* 要素同士の隙間が開くのを防ぐ */
      letter-spacing: -0.5em;

      li {
        display: inline-block;
        letter-spacing: normal;

        +li {
          border-left: 1px solid #aaa;
        }
      }

      a {
        display: block;
        padding: 5px 15px;
        transition: transform .2s $timing-function2;
        font-family: 'Bubbler One',
        sans-serif;
        font-weight: bold;
        letter-spacing: .2em;

        &:hover {
          color: #777;
          transform: translateY(-.2em);
          transition: transform .2s $timing-function2;
        }
      }
    }
  }

  .mb {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  // タッチデバイスでタップした時に、アニメーションが起こらないように修正
  .header {

    .pc {

      .list {

        a {
          transition: none;

          &:hover {
            transform: translateY(0);
            transition: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {

  .header {

    .pc {
      display: none;
    }

    .mb {
      display: block;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      .ham-btn {
        z-index: 999;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 36px;
        width: 42px;

        &-line {
          display: flex;
          position: relative;
          flex-direction: row-reverse;
          height: 2px;
          margin: 8px 0;
          background-color: #777;
          transition: background-color .6s $timing-function1;

          &:nth-of-type(1) {
            width: 100%;
            transition: transform .4s $timing-function1;
          }

          &:nth-of-type(2) {
            width: 80%;
            transition: transform .8s $timing-function1;
          }

          &:nth-of-type(3) {
            width: 60%;
            transition: transform 1.2s $timing-function1;
          }
        }
      }

      .menu {
        position: fixed;
        top: 0%;
        left: 100%;
        height: 800px;
        width: 1000px;
        transition: transform .6s $timing-function2,
          left .6s $timing-function2;
        background-image: url(../img/parts/hum-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .97;

        .list {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: rotate(-45deg);
          transition: left .6s $timing-function2,
            top .6s $timing-function2;

          .list-item {
            a {
              display: block;
              padding: 20px 10px;
              color: #fff;
              font-size: 27px;
              font-family: 'Bubbler One',
              sans-serif;
            }
          }
        }
      }

      .open {

        &.ham-btn {

          &-line {
            background-color: #ccc;
            transition: background-color .6s $timing-function2;

            &:nth-of-type(1) {
              width: 15px;
              top: 8px;
              left: -5px;
              transform: rotate(135deg) translateX(-5px);
              transition: transform .4s $timing-function2;
            }

            &:nth-of-type(2) {
              width: 80%;
              transform: rotate(180deg);
              transition: transform .8s $timing-function2;
            }

            &:nth-of-type(3) {
              width: 15px;
              bottom: 8px;
              left: -5px;
              transform: rotate(-135deg) translateX(-5px);
              transition: transform 1.2s $timing-function2;
            }
          }
        }


        &.menu {
          display: flex;
          flex-direction: column;
          transform: rotate(45deg);
          left: 35%;
          transition: transform .6s $timing-function2,
            left .6s $timing-function2;

          .list {
            position: absolute;
            //位置調整
            top: 55%;
            left: 12%;
            transform: rotate(-45deg);
            transition: left .6s $timing-function2,
              top .6s $timing-function2;
          }
        }
      }
    }
  }
}



.wrapper {
  height: 100%;
  padding-bottom: 20px;
  position: relative;

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {
    position: relative;
    // ヘッダー分下げる
    height: calc(100vh - 55px);
    // color: #fad700;

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-47%, -50%);

      h2 {
        letter-spacing: 7px;
        font-size: 50px;

        &::after {
          @include underline;
          margin: 15px auto 0;
          width: 100%;

          // animation
          animation-name: underline-top;
          animation-iteration-count: infinite;
          animation-duration: 1.4s;
          animation-timing-function: ease;
          animation-direction: alternate;

          @keyframes underline-top {
            0% {
              width: 60%;
            }

            80% {
              width: 100%;
            }

            100% {
              width: 100%;
            }
          }
        }
      }

      p {
        font-family: 'Bad Script',
        cursive;
        text-align: center;
        font-size: small;
        font-size: 20px;
      }

      li {
        width: 45px;
        height: 45px;
      }
    }

    .down-allow {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-48%);
      width: 30px;
      height: 30px;

      //animation
      animation-name: down-allow;
      animation-iteration-count: infinite;
      animation-duration: .8s;
      animation-timing-function: linear;
      animation-direction: alternate;

      @keyframes down-allow {
        0% {
          bottom: 50px;
        }
        100% {
          bottom: 35px;
        }
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        // アニメーション時にホバーが外れないように調整
        height:200%;
        width: 150%;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 50%;
          width: 25px;
          height: 25px;
          border-top: 2px solid #37a34a;
          border-right: 2px solid #4496d3;
          transform: translateX(50%) rotate(135deg);
          transition: transform .3s ease-in-out;
        }

        &:hover {
        cursor: pointer;

        &::after {
          transform: translateX(50%) rotate(225deg) rotateY(180deg);
          transition: transform .3s ease-in-out;
        }

        }
      }

    }
  }

}

/* =============================================
  Footer
  ============================================= */

.footer {
  width: 100%;

  .rain {
    padding: 30px;
    height: 20px;
  }

  .content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }
}



/* logo */

.logo {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto 10px;
  position: relative;

  li {
    width: 35px;
    height: 35px;
    display: inline-block;
    transition: transform .2s $timing-function2;
  }

  li:hover{
    transform: translateY(-5px);
    transition: transform .2s $timing-function2;
  }

}

.logo {

  &-twitter {
    // 位置の微調整
    margin-top: 3px;
  }
}

/* .logo .position-qiita,
  .logo-switching .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
} */


// header以外、全般のレスポンシブ対応

@media screen and (max-width: 1024px) {
  .logo {
    // タッチデバイスでタップした時に、アニメーションが起こらないように修正
    li {
      transition: none;

      &:hover {
        transform: translateY(0);
        transition: none;
      }
    }
  }
}

@media screen and (max-width: 599px) {

  html,
  body {
    font-size: 14px;
  }

  h2 {
    font-weight: normal;

    &::after {
      @include underline;
      width: 40%;
    }
  }

  .top {
    .down-allow {
      //位置の微調整
      transform: translateX(-48%);
    }
  }
}

/* float */

.float {
  &L {
    float: left;
  }

  &R {
    float: right;
  }
}

.over-hidden {
  overflow: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

/* scroll-fadein */


.scroll-fadein {
  &.invisible {
    opacity: 0;
    transform: translate(0, 50px);

    @media screen and (max-width: 599px) {
      transform: translate(0, 30px);
    }
  }

  &.scrollin {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1000ms;
  }
}

/**
  * パララックス
  * iOSではパララックス未対応のためパララックスを無効にする
  */

  .parallax {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;

    &.top {
      background-image: url(../img/parts/top.pc.jpg);
    }
  }

  @media screen and (max-width: 1024px) {
    .parallax {
      background-attachment: unset;
    }

    @media screen and (max-width: 599px) {
      .parallax {

        &.top {
          background-image: url(../img/parts/top.mb.jpg);
        }
      }
    }

  }

  /**
  * トップへ戻る
  */

  .to-top {
    background-color: rgba(135, 206, 250, .8);
    width: 50px;
    height: 50px;
    border-radius: 40% 40% 50% 40%/50% 50% 50% 50%;
    opacity: 0.7;
    position: fixed;
    right: 40px;
    bottom: 40px;

    &:hover {
      background-color: rgba(135, 206, 250, .6);
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
      }
    }
  }