@charset "utf-8";

@import 'mixin.scss';

/* =============================================
Common
============================================= */

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  color: #000;
  font-family: 'Roboto',
    sans-serif;
  height: 100%;
}

.wrapper {
  height: 100%;
  padding-bottom: 20px;

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {
    position: relative;
    height: 100%;
    // color: #fad700;

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      h2 {
        letter-spacing: 7px;
        font-size: 50px;

        &::after {
          @include underline;
          width: 100%;
          // background: linear-gradient(90deg, transparent 0%, #fad700 50%, transparent 100%);
        }
      }

      p {
        text-align: center;
        font-size: small;
        font-size: 25px;
      }

      li {
        width: 45px;
        height: 45px;
      }

      // a {
      //   color: #fad700;
      // }
    }
  }
}

/* =============================================
  Footer
  ============================================= */

.footer {
  width: 100%;

  .rain {
    padding: 30px;
    height: 20px;
  }

  .content {
    position: absolute;
    text-align: center;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }
}



.container {
  width: 90%;
  margin: auto;
  // ページ内リンク対策
  padding-top: 100px;
}

h2 {
  font-size: 35px;
  margin: 30px 0 10px;
  text-align: center;

  &::after {
    @include underline;
  }
}

@media screen and (max-width: 599px) {
  h2 {

    &::after {
      @include underline;
      width: 40%;
    }
  }
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

strong {
  position: relative;
  background: linear-gradient(transparent 70%, #02dded 70%);
}

/* logo */

.logo,
.logo-switching {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto 10px;
  position: relative;

  li {
    width: 35px;
    height: 35px;
    display: inline-block;
    transition: transform .2s $timing-function2;
  }

  li:hover{
    transform: translateY(-5px);
    transition: transform .2s $timing-function2;
  }

}

.logo {
  &-desc {
    font-size: 6px;
  }

  &-twitter {
    margin-top: 3px;
  }
}



/* .logo .position-qiita,
  .logo-switching .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
} */

/* float */

.float {
  &L {
    float: left;
  }

  &R {
    float: right;
  }
}



.over-hidden {
  overflow: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

/* scroll-fadein */


.scroll-fadein {
  &.invisible {
    opacity: 0;
    transform: translate(0, 50px);

    @media screen and (max-width: 600px) {
      transform: translate(0, 30px);
    }
  }

  &.scrollin {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1000ms;
  }
}

/**
  * パララックス
  */

  .parallax {
    background: left top/cover no-repeat fixed;
    height: 100%;

    &.top {
      background-image: url(../img/top.jpg);
    }

  }

/**
  * トップへ戻る
  */

  .to-top {
    background-color: rgba(135, 206, 250,0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    right: 20px;
    bottom: 20px;

    a {
      display: block;
      background-color: red;

      &:hover {
        cursor: pointer;
      }

      &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f106';
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -5px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
    }
  }
