/**
 * 見出しのアンダーライン
 */
@mixin underline {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
}

/**
 * カード
 */
@mixin card-shadow {
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .3),
  6px 0 10px -6px rgba(0, 0, 0, .3),
  -6px 0 10px -6px rgba(0, 0, 0, .3);
}

/**
 * イージングを指定
 */
$timing-function1: ease;
$timing-function2: ease-in-out;
$snap: cubic-bezier(1.000, 0.005, 0.240, 1.000);