@charset "utf-8";

@import 'mixin.scss';

/* =============================================
Header navigation
============================================= */

.nav {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

  .title {
    font-family: 'Meie Script',
      cursive;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: 100;
    padding-left: 10px;

    a {
      color: #000;
    }
  }

  .list {
    position: absolute;
    right: -100%;
    top: 0;
    margin-top: 15px;
    /* 要素同士の隙間が開くのを防ぐ */
    letter-spacing: -0.5em;

    li {
      display: inline-block;
      letter-spacing: normal;

      +li {
        border-left: 1px solid #aaa;
      }
    }
  }

  .list a {
    display: block;
    padding: 5px 15px;
    color: #000;

    &:hover {
      color: #777;
    }
  }
}



/* =============================================
Main content
============================================= */

.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Top
--------------------------------------*/

.top {
  position: relative;
  height: 500px;
  background: url(../img/top.png) left top/cover no-repeat;
  color: #fff;

  .content {
    position: absolute;
    left: -100%;
    top: 50%;

    h2 {
      letter-spacing: 7px;
      font-size: 30px;

      &::after {
        content: "";
        width: 80%;
        height: 1px;
        background-color: #fff;
      }
    }

    p {
      text-align: center;
      font-size: small;
    }

    a {
      color: #fff;
    }
  }

  .saying {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 40%;
    font-size: 37px;
    line-height: 1.5em;
  }

}


/*-------------------------------------
About
--------------------------------------*/

.about {
  background: linear-gradient(#fff, #fff 45%, #eee 45%, #eee);
  padding: 0 40px 40px;
  position: relative;

  .prf-img {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }

  .upper-{
    &right {
      width: 15%;
      position: absolute;
      top: 50%;
      right: 15%;
    }
  }

  .introduction {
    .first-half,
    .latter-half,
    &-logo {
      position: relative;
      width: 50%;
      box-sizing: border-box;
      padding: 0 15px;
      line-height: 2em;
      text-decoration: dotted;
    }

    p.latter-half {
      width: 45%;
      margin-top: 10px;
    }

    dt,
    dd {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      text-align: center;
      border-bottom: #777 1px dotted;
    }

    dt {
      width: 30%;

      &:first-of-type {
        border-top: #777 1px dotted;
      }
    }

    .latter-half dt {
      border-top: #777 1px dotted;
    }

    dd {
      padding-left: 5px;
      width: 68%;

      &:first-of-type {
        border-top: #777 1px dotted;
      }
    }
  }

  &-name {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    padding: 10px;

    .name-ja::after {
      @include underline;
      width: 40%;
      margin: 8px auto;
    }

    .name-en {
      padding: 0;
      font-size: medium;
    }
  }
}



/* =============================================
Footer
============================================= */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .rain {
    padding: 30px;
    height: 20px;
  }

  .content {
    position: absolute;
    text-align: center;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }
}



/* =============================================
タブレット用
============================================= */

@media screen and (max-width: 940px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/


  /*-------------------------------------
  About
  --------------------------------------*/

  .about {
    background: linear-gradient(#fff, #fff 30%, #eee 30%, #eee);
  }

  .logo-upper-right {
    width: 30%;
    position: absolute;
    top: 33%;
    right: 7%;
  }

  .introduction {
    .first-half,
    .latter-half {
      width: 46%;
      box-sizing: border-box;
      padding: 0 15px;
      line-height: 1.8em;
      text-decoration: dotted;
    }
  }
}



/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 767px) {

  /* =============================================
  Header navigation
  ============================================= */

  .nav {
    .list {
      right: 0;
    }
  }

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {
    .content {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .saying {
      display: none;
    }
  }

  /*-------------------------------------
  About
  --------------------------------------*/

  .about {
    background: linear-gradient(#fff, #fff 24%, #eee 24%, #eee);

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    .logo-upper-right {
      width: 100%;
      position: static;
    }

    .introduction{
      .first-half,
      .latter-half,
      p.latter-half,
      &-logo {
        width: 100%;
      }
    }
  }
}
