@charset "utf-8";

@import 'mixin.scss';

$timing-function1: ease;
$timing-function2: ease-in-out;



/* =============================================
Main content
============================================= */

.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Service
--------------------------------------*/
.service {

  margin-bottom: 20px;

  h2 {
    margin-top: 15px;
  }

  .service-lists {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .service-list {
      position: relative;
      width: 48%;
      box-sizing: border-box;
      text-align: center;
      padding: 20px;
      background-color: #f5f5f5;
      box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .3),
                  6px 0 10px -6px rgba(0, 0, 0, .3),
                  -6px 0 10px -6px rgba(0, 0, 0, .3);

      h3 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: normal;

        &::after {
          @include underline;
          width: 50%;
        }
      }

      .service-icon {
        width: 100%;
        margin: 10px auto;

        img {
          width: 200px;
          height: 200px;
        }
      }

      p {
        text-indent: 1em;
        text-align: left;
      }
    }
  }

  .service-icon {
    // position: relative;
    // border-radius: 50%;
    // background-color: paleturquoise;
    // width: 150px;
    // height: 150px;
    // text-align: center;

    img {
      // position: absolute;
      // transform: translate(-50%, -50%);
      // top: 50%;
      // left: 50%;
      // width: 100px;
    }
  }
}



/*-------------------------------------
About
--------------------------------------*/

.about {
  background: linear-gradient(#fff, #fff 300px, #f5f5f5 300px, #f5f5f5);
  padding: 0 40px 40px;

  position: relative;

  .prf-img {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }

  &-logo {
    position: absolute;
    top: 400px;
    right: 20%;

    .logo {
      width: 130px;
    }
  }

  .introduction {

    .first-half,
    .latter-half {

      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    .first-half {

      .first-half,
      .latter-half {
        width: 100%;
      }

      dl {
        display: flex;
        flex-wrap: wrap;
        line-height: 2.5em;

        dt,
        dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: #777 1px dotted;
          box-sizing: border-box;
          padding: 5px;
        }

        dt {
          width: 30%;
        }

        dd {
          width: 70%;
        }
      }

      .latter-half {

        dt,
        dd {

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }

    .sentence {
      width: 45%;
      // sentenceの位置を調整。文章を変更するごとに都度修正すると良い
      margin-top: 80px;
    }

  }

  &-name {
    text-align: center;
    font-size: 36px;
    padding: 10px;

    // .name-ja::after {
    //   @include underline;
    //   width: 40%;
    //   margin: 8px auto;
    // }

    // .name-en {
    //   padding: 0;
    //   font-size: medium;
    // }

    .name-en {
      margin-bottom: 20px;
      font-family: 'Bad Script',
      cursive;

      &::after {
        @include underline;
        width: 40%;
        margin: 8px auto;
      }
    }
  }
}

/*-------------------------------------
Skills
--------------------------------------*/

.skills {
  .container {
    width: 100%;

    .glide__track {
      .glide__slides {
        display:flex;
        align-items: center;
        height: 750px;

        .glide__slide {
          height: 600px;
          margin: 50px auto;
          border-radius: 50px;
          box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.25),
                      -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
          text-align: center;
          background: url(../img/skills-bg.jpg);
          transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transition: transform .2s $timing-function2;

          &:hover {
            transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
            transition: transform .2s $timing-function2;
          }

          .skill-name {
            font-size: 40px;
            margin-top: 15px;

            &:after {
              @include underline;
              width: 110px;
            }
          }

          // &.first {
          //   transform: rotateX(25deg) rotateY(-30deg);
          //   box-shadow: -10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          // &.second {
          //   transform: rotateX(0) rotateY(0);
          //   box-shadow: 10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          // &.third {
          //   transform: rotateX(25deg) rotateY(30deg);
          //   box-shadow: 10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          .skill-img {
            position: relative;
            padding: 20px;
            height: 300px;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .star {
            position: relative;
            z-index: 0;
            display: inline-block;
            white-space: nowrap;
            color: #aaa;
            font-size: 24px;

            &:before,
            &:after {
            content: '★★★★★';
            }

            &:after {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              overflow: hidden;
              white-space: nowrap;
              color: #ffcf00;
            }

            &[star="5"]:after {
              width: 100%;
            }
            &[star="4.5"]:after {
              width: 90%;
            }
            &[star="4"]:after {
              width: 80%;
            }
            &[star="3.5"]:after {
              width: 70%;
            }
            &[star="3"]:after {
              width: 60%;
            }
            &[star="2.5"]:after {
              width: 50%;
            }
            &[star="2"]:after {
              width: 40%;
            }
            &[star="1.5"]:after {
              width: 30%;
            }
            &[star="1"]:after {
              width: 20%;
            }
            &[star="0.5"]:after {
              width: 10%;
            }
            &[star="0"]:after {
              width: 0%;
            }
          }

          hr {
            margin: 20px auto 0;
            width: 85%;
          }

          .sub-skill {
            padding: 10px 30px;

            &-img,
            .desc {
              display: inline-block;
              vertical-align: middle;
            }

            &-img {
              width: 40%;
              height: 130px;
              padding-left: 10px;
            }

            .desc {
              width: 58%;
            }
          }
        }
      }
    }

    .glide__arrow {

      color: #444;
      padding: 12px;
      background-color: rgba(0, 0, 0, 0.25);
      border: none;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}



/* =============================================
タブレット
============================================= */

@media screen and (max-width: 1024px) and (min-width: 600px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {

    .content {

      h2,
      p {
        line-height: 1.2em;
      }
    }
  }



  /*-------------------------------------
  Service
  --------------------------------------*/

  .service {

    .service-lists {
      display: block;

      .service-list {
        width: 100%;
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
        }
      }
    }
  }



  /*-------------------------------------
  About
  --------------------------------------*/

  .about {

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &-logo {
      width: 100%;
      position: static;
    }

    .introduction {

      .first-half,
      .latter-half {
        width: 100%;
      }

      .first-half {

        .latter-half {

          dt,
          dd {

            &:last-of-type {
              border-bottom: #777 1px dotted;
              margin-bottom: 50px;
            }
          }
        }
      }

      .sentence {
        margin-top: 20px;
      }
    }

    .latter-half dt {
      border-top: none;
    }
  }
}


/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 599px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {

    .content {

      h2,
      p {
        line-height: 1.2em;
      }
    }
  }



  /*-------------------------------------
  Service
  --------------------------------------*/

  .service {

    .service-lists {
      display: block;

      .service-list {
        width: 100%;
        margin-bottom: 20px;

        h3 {
          font-size: 24px;
        }
      }
    }
  }



  /*-------------------------------------
  About
  --------------------------------------*/

  .about {

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &-logo {
      width: 100%;
      position: static;
    }

    .introduction {

      .first-half,
      .latter-half {
        width: 100%;
      }

      .first-half {

        .latter-half {

          dt,
          dd {

            &:last-of-type {
              border-bottom: #777 1px dotted;
              margin-bottom: 50px;
            }
          }
        }
      }

      .sentence {
        margin-top: 20px;
      }

      .latter-half dt {
        border-top: none;
      }
    }
  }



  /*-------------------------------------
  Skills
  --------------------------------------*/

  .skills {

    .glide__slide {

      &:hover {

      }
    }
  }
}