@charset "utf-8";

/* =============================================
Header navigation
============================================= */

.nav {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

  .title {
    font-family: 'Meie Script',
      cursive;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: 100;
    padding-left: 10px;

    a {
      color: #000;
    }
  }

  .list {
    position: absolute;
    right: -100%;
    top: 0;
    margin-top: 15px;
    /* 要素同士の隙間が開くのを防ぐ */
    letter-spacing: -0.5em;

    li {
      display: inline-block;
      letter-spacing: normal;

      +li {
        border-left: 1px solid #aaa;
      }
    }
  }

  .list a {
    display: block;
    padding: 5px 15px;
    color: #000;

    &:hover {
      color: #777;
    }
  }
}



/* =============================================
Main content
============================================= */

.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Top
--------------------------------------*/

.top {
  position: relative;
  height: 500px;
  background: url(../img/top2.png) left top/cover no-repeat;
  color: #fff;

  .content {
    position: absolute;
    left: -100%;
    top: 50%;
  }

  .content h2 {
    letter-spacing: 7px;
    font-size: 30px;
  }

  .content a {
    color: #fff;
  }

  .content h2::after {
    content: "";
    width: 80%;
    height: 1px;
    background-color: #fff;
  }

  .content p {
    text-align: center;
    font-size: small;
  }

  .saying {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 40%;
    font-size: 37px;
    line-height: 1.5em;
  }

}



/*-------------------------------------
About
--------------------------------------*/

.about {
  background: linear-gradient(#fff, #fff 40%, #eee 40%, #eee);
  padding: 0 40px 40px;
  position: relative;
}

.prf-img {
  text-align: center;
  margin-bottom: 50px;
}

.prf-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.logo-upper-right {
  width: 15%;
  position: absolute;
  top: 43%;
  right: 15%;
}

.introduction .first-half,
.introduction .latter-half {
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 1.8em;
  text-decoration: dotted;
}

.introduction dt,
.introduction dd {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.introduction dt {
  width: 30%;
  text-align: center;
}

.introduction dd {
  padding-left: 5px;
  width: 68%;
}


/* =============================================
Footer
============================================= */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -5;
}

.rain {
  padding: 30px;
  height: 20px;
}

.footer .content {
  position: absolute;
  text-align: center;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}



/* =============================================
タブレット用
============================================= */

@media screen and (max-width: 940px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/


  /*-------------------------------------
  About
  --------------------------------------*/

  .about {
    background: linear-gradient(#fff, #fff 30%, #eee 30%, #eee);
  }

  .logo-upper-right {
    width: 30%;
    position: absolute;
    top: 33%;
    right: 7%;
  }

  .introduction-first-half,
  .introduction-latter-half {
    width: 46%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 1.8em;
    text-decoration: dotted;
  }
}



/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 767px) {

  /* =============================================
  Header navigation
  ============================================= */

  .nav .list {
    right: 0;
  }

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top .content {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top .saying {
    display: none;
  }

  /*-------------------------------------
  About
  --------------------------------------*/

  .about {
    background: linear-gradient(#fff, #fff 24%, #eee 24%, #eee);
  }

  .prf-img {
    margin-bottom: 20px;
  }

  .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .logo-upper-right {
    width: 100%;
    position: static;
  }

  .introduction .first-half,
  .introduction .latter-half {
    width: 100%;
  }

  .introduction dl dt,
  .introduction dl dd {
    text-align: center;
  }

}
