@charset "utf-8";

@import 'mixin.scss';

$timing-function1: ease;
$timing-function2: ease-in-out;



/* =============================================
Main content
============================================= */

.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Service
--------------------------------------*/
.service {

  margin-bottom: 20px;

  h2 {
    margin-top: 15px;
  }

  .service-lists {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .service-list {
      position: relative;
      width: 48%;
      box-sizing: border-box;
      text-align: center;
      padding: 20px;
      background-color: #f5f5f5;
      @include card-shadow;

      h3 {
        font-size: 30px;
        margin-bottom: 20px;
        font-family: serif;

        &::after {
          @include underline;
          width: 50%;
        }
      }

      .service-icon {
        width: 100%;
        margin: 10px auto;

        img {
          width: 200px;
          height: 200px;
        }
      }

      p {
        text-align: left;
      }
    }
  }
}



/*-------------------------------------
About
--------------------------------------*/

.about {
  background: linear-gradient(#fff, #fff 180px, #f5f5f5 180px, #f5f5f5);
  padding: 0 40px 40px;

  position: relative;

  .prf-img {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }

  &-logo {
    position: absolute;
    top: 330px;
    right: 20%;

    .logo {
      width: 130px;
    }
  }

  .about-name {

    &.pc {
      display: block;
    }

    &.mb {
      display: none;
    }
  }

  .introduction {

    .first-half,
    .latter-half {

      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    .first-half {

      .first-half,
      .latter-half {
        width: 100%;
      }

      dl {
        display: flex;
        flex-wrap: wrap;
        line-height: 2.5em;

        dt,
        dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: #777 1px dotted;
          box-sizing: border-box;
          padding: 5px;
        }

        dt {
          width: 30%;
        }

        dd {
          width: 70%;
        }
      }

      .latter-half {

        dt,
        dd {

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }

    .sentence {
      width: 45%;
      // sentenceの位置を調整。文章を変更するごとに都度修正すると良い
      margin-top: 80px;
    }

  }

  &-name {
    text-align: center;
    font-size: 36px;
    padding: 10px;

    // .name-ja::after {
    //   @include underline;
    //   width: 40%;
    //   margin: 8px auto;
    // }

    // .name-en {
    //   padding: 0;
    //   font-size: medium;
    // }

    .name-en {
      text-indent: 0;
      margin-bottom: 20px;
      font-family: 'Bad Script',
      cursive;

      &::after {
        @include underline;
        width: 40%;
        margin: 8px auto;
      }
    }
  }
}

/*-------------------------------------
Skills
--------------------------------------*/

.skills {
  .container {
    width: 100%;

    .pc,
    .mb {

      .skill-name {
        position: relative;
        font-size: 40px;
        margin-top: 25px;
        letter-spacing: .15em;
        font-family: 'Bad Script',
          cursive;

        &:after {
          @include underline;
          width: 110px;
        }

        .num-pos {
          position: absolute;
          top: -17px;
        }
      }

      .skill-img {
        position: relative;
        padding: 20px;
        height: 300px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .star {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        color: #aaa;
        font-size: 24px;

        &:before,
        &:after {
          content: '★★★★★';
        }

        &:after {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          overflow: hidden;
          white-space: nowrap;
          color: #ffcf00;
        }

        &[star="5"]:after {
          width: 100%;
        }

        &[star="4.5"]:after {
          width: 90%;
        }

        &[star="4"]:after {
          width: 80%;
        }

        &[star="3.5"]:after {
          width: 70%;
        }

        &[star="3"]:after {
          width: 60%;
        }

        &[star="2.5"]:after {
          width: 50%;
        }

        &[star="2"]:after {
          width: 40%;
        }

        &[star="1.5"]:after {
          width: 30%;
        }

        &[star="1"]:after {
          width: 20%;
        }

        &[star="0.5"]:after {
          width: 10%;
        }

        &[star="0"]:after {
          width: 0%;
        }
      }

      hr {
        margin: 20px auto 0;
        width: 85%;
      }

      .sub-skill {
        padding: 10px 30px;

        &-img,
        .desc {
          display: inline-block;
          vertical-align: middle;
        }

        &-img {
          width: 40%;
          height: 130px;
        }

        .desc {
          width: 56%;
        }
      }
    }

    .pc {
      .glide__track {
        .glide__slides {
          display: flex;
          align-items: center;
          height: 750px;

          .glide__slide {
            position: relative;
            height: 600px;
            margin: 50px auto;
            border-radius: 50px;
            box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25),
              -10px 10px 10px 2px rgba(0, 0, 0, 0.25);
            text-align: center;

            //背景
            background-image: url(../img/skills-bg.jpg);
            // background-color: #f5f5f5;

            transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
            transition: transform .2s $timing-function2;

            &:hover {
              transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
              transition: transform .2s $timing-function2;
            }

            &.not-has-sub-skill {

              a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      .glide__arrow {

        color: #444;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 50%;

        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }

    .mb {
      // スキルリストのボタン表示設定

      .skill-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        // js向こうの時は非表示
        .skill-more-btn,
        .skill-close-btn {
          display: none;
          border: none;
          margin: 20px;
          position: relative;
          padding: 8px 12px;
          font-size: 20px;
          font-family: 'Bubbler One',
          sans-serif;
          letter-spacing: 0.4em;
          color: #666;
          border: 1px solid #545454;
          background-color: #f5f5f5;
          // box-shadow: 0 2px #00608d,
          // 0 -1px #00608d;
          transition: all .3s $timing-function2;

          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            border-color: #545454;
            box-sizing: border-box;
            border-style: solid;
            width: 1em;
            height: 1em;
            transition: all .3s $timing-function2;
          }

          &::before {
            top: -6px;
            left: -6px;
            border-width: 1px 0 0 1px;
            z-index: 1;
          }

          &::after{
            bottom: -6px;
            right: -6px;
            border-width: 0 1px 1px 0;
            z-index: 1;
          }

          &:hover {
            transform: scale(1.1);
            transition: .3s transform $timing-function2;

            &::before,
            &::after {
              width: calc(80% + 6px);
              height: calc(80% + 6px);
            }
          }
        }
      }

      .skill-lists {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        &.has-skill-btn::after {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 200px;
          z-index: 1;
          background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, .3) 50%, #fff 100%);
        }

        .skill-list {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          position: relative;

          background-color: #f5f5f5;
          @include card-shadow;
          width: 48%;
          box-sizing: border-box;
          margin: 0.5%;
          height: 100%;
          min-height: 200px;

          .skill-img {
            position: relative;
            height: auto;
            width: 80px;

            img {
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
              max-width: 100%;
            }

            .star {
              position: absolute;
              //位置を微調整
              bottom: 5px;
              left: 40px;
              display: inline-block;
              white-space: nowrap;
              color: #aaa;
              font-size: 16px;
              margin: auto;

              &:before,
              &:after {
                content: '★★★★★';
              }

              &:after {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                overflow: hidden;
                white-space: nowrap;
                color: #ffcf00;
              }
            }
          }

          .skill-desc {
            // absoluteにすると要素の高さが失われ、flex boxの影響により文章がはみ出してしまう。
            position: relative;
            left: 40px;
            margin: 0 20px;
            width: 65%;

            .skill-name {
              position: relative;
              font-size: 20px;
              margin-top: 25px;
              letter-spacing: .15em;
              font-family: 'Bad Script',
                cursive;
              text-align: center;

              &:after {
                @include underline;
                width: 50%;
                margin: 0 auto;
              }

              //数字を含むスキル名のアンダーラインの長さを調整
              //CSS4以降で指定可能
              &:has(.num-pos):after {
                width: 60%;
              }

              &.has-num-pos:after {
                width: 60%;
              }

              .num-pos {
                position: absolute;
                top: -8px;
              }
            }

            p {
              font-size: 14px;
              line-height: 1.4em;
              padding: 20px 10px;
            }
          }

          // pcのみ
          @media screen and (min-width: 1024px) {

            //要素の数が奇数の時のみ最後の要素を100％に
            &:last-child:nth-child(odd) {
              width: 100%;

              .skill-name {

                &:after {
                  width: 23%;
                }
              }

              .skill-img {
                position: absolute;
                left: 20%;
                top: 50%;
                transform: translateY(-50%);
                // margin-left: 15%;
              }

              .star {
                position: absolute;
                //位置を微調整
                bottom: -60px;
                left: 30px;
              }

              .skill-desc {
                position: relative;
                left: 5%;
                margin: 0 auto 20px;
                //画像と説明が重なるのを防ぐ
                max-width: 40%;
              }
            }
          }
        }
      }
    }
  }
}



/* =============================================
タブレット&モバイル共通
============================================= */

@media screen and (max-width: 1024px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  .top {

    .content {

      h2,
      p {
        line-height: 1.2em;
      }
    }
  }



  /*-------------------------------------
  Service
  --------------------------------------*/

  .service {

    .service-lists {
      display: block;

      .service-list {
        width: 100%;
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
        }
      }
    }
  }



  /*-------------------------------------
  About
  --------------------------------------*/

  .about {

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &-logo {
      width: 100%;
      position: static;
    }

    .about-name {

      &.pc {
        display: none;
      }

      &.mb {
        display: block;

        .name-en {
          margin-bottom: 0;
        }
      }
    }

    .introduction {

      .first-half,
      .latter-half {
        width: 100%;
      }

      .first-half {
        margin-top: 20px;

        .latter-half {

          dt,
          dd {

            &:last-of-type {
              border-bottom: #777 1px dotted;
              margin-bottom: 50px;
            }
          }
        }
      }

      .sentence {
        margin-top: 20px;
      }

      .latter-half dt {
        border-top: none;
      }
    }
  }

  /*-------------------------------------
  Skills
  --------------------------------------*/

  .skills {

    .container {
      width: 90%;

      .pc {
        display: none;
      }

      .mb {
        display: block;

        .skill-lists {

          .skill-list {
            width: 100%;
            margin: 10px auto;
            height: 200px;
          }
        }
      }
    }
  }
}



/* =============================================
タブレット
============================================= */

@media screen and (max-width: 1024px) and (min-width: 600px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  /*-------------------------------------
  Service
  --------------------------------------*/

  /*-------------------------------------
  About
  --------------------------------------*/
}


/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 599px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  /*-------------------------------------
  Service
  --------------------------------------*/

  /*-------------------------------------
  About
  --------------------------------------*/

  /*-------------------------------------
  Skills
  --------------------------------------*/

}