@charset "utf-8";

@import 'mixin.scss';

$timing-function1: ease;
$timing-function2: ease-in-out;

/* =============================================
Header navigation
============================================= */

.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

  .title {
    font-family: 'Meie Script',
      cursive;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-weight: 100;
    padding-left: 10px;
  }

  .pc {
    .list {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      /* 要素同士の隙間が開くのを防ぐ */
      letter-spacing: -0.5em;

      li {
        display: inline-block;
        letter-spacing: normal;

        +li {
          border-left: 1px solid #aaa;
        }
      }

      a {
        display: block;
        padding: 5px 15px;
        transition: transform .2s $timing-function2;

        &:hover {
          color: #777;
          transform: translateY(-.2em);
          transition: transform .2s $timing-function2;
        }
      }
    }
  }

  .mb {
    display: none;
  }
}



/* =============================================
Main content
============================================= */

.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Top
--------------------------------------*/

.top {
  position: relative;
  height: 500px;
  background: url(../img/top.png) left top/cover no-repeat;
  color: #fff;

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h2 {
      letter-spacing: 7px;
      font-size: 30px;

      &::after {
        @include underline;
        width: 100%;
        background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
      }
    }

    p {
      text-align: center;
      font-size: small;
    }

    a {
      color: #fff;
    }
  }

}


/*-------------------------------------
About
--------------------------------------*/

.about {
  background: linear-gradient(#fff, #fff 300px, #eee 300px, #eee);
  padding: 0 40px 40px;

  position: relative;

  .prf-img {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }

  &-logo {
    position: absolute;
    top: 375px;
    right: 20%;

    .logo {
      width: 130px;
    }
  }

  .introduction {

    .first-half,
    .latter-half {

      position: relative;
      width: 50%;
      box-sizing: border-box;
      line-height: 2em;
    }

    p.latter-half {
      width: 45%;

      .about-work {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
        font-size: large;
        font-weight: bold;
      }
    }

    .first-half {

      .first-half,
      .latter-half {
        width: 100%;
      }

      dl {
        display: flex;
        flex-wrap: wrap;

        dt,
        dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: #777 1px dotted;
          box-sizing: border-box;
          padding: 5px;
        }

        dt {
          width: 30%;
        }

        dd {
          width: 70%;
        }
      }

      .first-half {

        dd,
        dt {
          &:first-of-type {
            border-top: #777 1px dotted;
          }
        }
      }
    }


  }

  &-name {
    text-align: center;
    font-size: 36px;
    padding: 10px;

    .name-ja::after {
      @include underline;
      width: 40%;
      margin: 8px auto;
    }

    .name-en {
      padding: 0;
      font-size: medium;
    }
  }
}

/*-------------------------------------
Skills
--------------------------------------*/

.skills {
  .container {
    width: 100%;

    .glide__track {
      .glide__slides {
        display:flex;
        align-items: center;
        height: 750px;

        .glide__slide {
          height: 600px;
          margin: 50px auto;
          border-radius: 50px;
          box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.25),
                      -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
          text-align: center;
          background: url(../img/skills-bg.jpg);
          transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transition: transform .2s $timing-function2;

          &:hover {
            transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
            transition: transform .2s $timing-function2;
          }

          .skill-name {
            font-size: 40px;
            margin-top: 15px;

            &:after {
              @include underline;
              width: 110px;
            }
          }

          // &.first {
          //   transform: rotateX(25deg) rotateY(-30deg);
          //   box-shadow: -10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          // &.second {
          //   transform: rotateX(0) rotateY(0);
          //   box-shadow: 10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          // &.third {
          //   transform: rotateX(25deg) rotateY(30deg);
          //   box-shadow: 10px -10px 25px rgba(0, 0, 0, 0.25);
          // }

          .skill-img {
            position: relative;
            padding: 20px;
            height: 300px;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .star {
            position: relative;
            z-index: 0;
            display: inline-block;
            white-space: nowrap;
            color: #aaa;
            font-size: 24px;

            &:before,
            &:after {
            content: '★★★★★';
            }

            &:after {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              overflow: hidden;
              white-space: nowrap;
              color: #ffcf00;
            }

            &[star="5"]:after {
              width: 100%;
            }
            &[star="4.5"]:after {
              width: 90%;
            }
            &[star="4"]:after {
              width: 80%;
            }
            &[star="3.5"]:after {
              width: 70%;
            }
            &[star="3"]:after {
              width: 60%;
            }
            &[star="2.5"]:after {
              width: 50%;
            }
            &[star="2"]:after {
              width: 40%;
            }
            &[star="1.5"]:after {
              width: 30%;
            }
            &[star="1"]:after {
              width: 20%;
            }
            &[star="0.5"]:after {
              width: 10%;
            }
            &[star="0"]:after {
              width: 0%;
            }
          }

          hr {
            margin: 20px auto 0;
            width: 85%;
          }

          .sub-skill {
            padding: 10px 30px;

            &-img,
            .desc {
              display: inline-block;
              vertical-align: middle;
            }

            &-img {
              width: 40%;
              height: 130px;
              padding-left: 10px;
            }

            .desc {
              width: 58%;
            }
          }
        }
      }
    }

    .glide__arrow {

      color: #444;
      padding: 12px;
      background-color: rgba(0, 0, 0, 0.25);
      border: none;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}



/* =============================================
Footer
============================================= */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .rain {
    padding: 30px;
    height: 20px;
  }

  .content {
    position: absolute;
    text-align: center;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }
}



/* =============================================
タブレット
============================================= */

@media screen and (max-width: 1024px) {

  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/

  /*-------------------------------------
  About
  --------------------------------------*/

  .about {

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &-logo {
      width: 100%;
      position: static;
    }

    .introduction {

      .first-half,
      .latter-half,
      p.latter-half {
        width: 100%;
      }

      p.latter-half {
        margin-top: 40px;
      }
    }

    .latter-half dt {
      border-top: none;
    }
  }
}


/* =============================================
モバイル用
============================================= */

@media screen and (max-width: 599px) {

  /* =============================================
  Header navigation
  ============================================= */

  // .nav {
  //   .list {
  //     right: 0;
  //   }
  // }

  .header {

    /**
    * ハンバーガーメニュー
    */

    .pc {
      display: none;
    }

    .mb {
      display: block;

      .ham-btn {
        z-index: 999;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 36px;
        width: 42px;

        &-line {
          display: flex;
          position: relative;
          flex-direction: row-reverse;
          height: 2px;
          margin: 8px 0;
          background-color: #777;
          transition: background-color .6s $timing-function1;

          &:nth-of-type(1) {
            width: 100%;
            transition: transform .4s $timing-function1;
          }

          &:nth-of-type(2) {
            width: 80%;
            transition: transform .8s $timing-function1;
          }

          &:nth-of-type(3) {
            width: 60%;
            transition: transform 1.2s $timing-function1;
          }
        }
      }

      .menu {
        position: fixed;
        top: 0%;
        left: 100%;
        height: 800px;
        width: 1000px;
        transition: transform .6s $timing-function2,
          left .6s $timing-function2;
        background: rgba(0, 0, 0, 0.85);

        .list {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: rotate(-45deg);
          transition: left .6s $timing-function2,
            top .6s $timing-function2;

          .list-item {
            a {
              display: block;
              padding: 20px;
              color: #fff;
              font-size: 27px;
            }
          }
        }
      }

      .open {

        &.ham-btn {

          &-line {
            background-color: #ccc;
            transition: background-color .6s $timing-function2;

            &:nth-of-type(1) {
              width: 15px;
              top: 8px;
              left: -5px;
              transform: rotate(135deg) translateX(-5px);
              transition: transform .4s $timing-function2;
            }

            &:nth-of-type(2) {
              width: 80%;
              transform: rotate(180deg);
              transition: transform .8s $timing-function2;
            }

            &:nth-of-type(3) {
              width: 15px;
              bottom: 8px;
              left: -5px;
              transform: rotate(-135deg) translateX(-5px);
              transition: transform 1.2s $timing-function2;
            }
          }
        }


        &.menu {
          display: flex;
          flex-direction: column;
          transform: rotate(45deg);
          left: 35%;
          transition: transform .6s $timing-function2,
            left .6s $timing-function2;

          .list {
            position: absolute;
            top: 60%;
            left: 10%;
            transform: rotate(-45deg);
            transition: left .6s $timing-function2,
              top .6s $timing-function2;
          }
        }
      }
    }
  }


  /* =============================================
  Main content
  ============================================= */

  /*-------------------------------------
  Top
  --------------------------------------*/


  /*-------------------------------------
  About
  --------------------------------------*/

  .about {

    .prf-img {
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &-logo {
      width: 100%;
      position: static;
    }

    .introduction {

      .first-half,
      .latter-half,
      p.latter-half {
        width: 100%;
      }

      .latter-half dt {
        border-top: none;
      }
    }
  }
}