@charset "UTF-8";

/* =============================================
Header navigation
============================================= */
.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.header .title {
  font-family: 'Meie Script', cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

.header .pc .list {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  /* 要素同士の隙間が開くのを防ぐ */
  letter-spacing: -0.5em;
}

.header .pc .list li {
  display: inline-block;
  letter-spacing: normal;
}

.header .pc .list li+li {
  border-left: 1px solid #aaa;
}

.header .pc .list a {
  display: block;
  padding: 5px 15px;
}

.header .pc .list a:hover {
  color: #777;
}


/* =============================================
モバイル用
============================================= */
/* @media screen and (max-width: 599px) { */

  /* =============================================
  Header navigation
  ============================================= */

  .header .pc {
    display: none;
  }

  .header .mb .ham-btn {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 36px;
    width: 42px;
  }

  .header .mb .ham-btn-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 2px;
    margin: 8px 0;
    background-color: #777;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }

  .header .mb .ham-btn-line:nth-of-type(1) {
    width: 100%;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }

  .header .mb .ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }

  .header .mb .ham-btn-line:nth-of-type(3) {
    width: 60%;
    -webkit-transition: -webkit-transform 1.2s ease;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  }

  .header .mb .menu {
    position: fixed;
    top: 0%;
    left: 100%;
    height: 800px;
    width: 1000px;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: rgba(0, 0, 0, 0.9);
  }

  .header .mb .menu .list {
    display: flex;
    background-color: yellowgreen;
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 15%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* .header .mb .menu li {
    transform: skewY(-5deg);
  } */

  .header .mb .menu .list li a {
    color: white;
  }

  .header .mb .open.ham-btn-line {
    background-color: #ccc;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }

  .header .mb .open.ham-btn-line:nth-of-type(1) {
    width: 15px;
    top: 8px;
    left: -5px;
    -webkit-transform: rotate(135deg) translateX(-5px);
    transform: rotate(135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .header .mb .open.ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }

  .header .mb .open.ham-btn-line:nth-of-type(3) {
    width: 15px;
    bottom: 8px;
    left: -5px;
    -webkit-transform: rotate(-135deg) translateX(-5px);
    transform: rotate(-135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  .header .mb .open.menu {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 35%;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .header .mb .open.menu .list {
    /* -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); */
  }

  .header .mb .open.menu .list li {
  }
/* } */

/*# sourceMappingURL=style.css.map */