@charset "UTF-8";
/**
 * 見出しのアンダーライン
 */
/**
 * カード
 */
/**
 * イージングを指定
 */
/* =============================================
Common
============================================= */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  color: #000;
  height: 100%;
  line-height: 2em;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 140px;
}

h2 {
  font-family: 'Bad Script', cursive;
  font-size: 35px;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
}

p {
  text-indent: 1em;
}

/*-------------------------------------
Header navigation
--------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #f5f5f5;
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.header .title {
  font-family: 'Meie Script', cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

.header .pc .list {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  /* 要素同士の隙間が開くのを防ぐ */
  letter-spacing: -0.5em;
}

.header .pc .list li {
  display: inline-block;
  letter-spacing: normal;
}

.header .pc .list li + li {
  border-left: 1px solid #aaa;
}

.header .pc .list a {
  display: block;
  padding: 5px 15px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  font-family: 'Bubbler One', sans-serif;
  font-weight: bold;
}

.header .pc .list a:hover {
  color: #777;
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header .mb {
  display: none;
}

@media screen and (max-width: 599px) {
  .header .pc {
    display: none;
  }
  .header .mb {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .header .mb .ham-btn {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
    height: 36px;
    width: 42px;
  }
  .header .mb .ham-btn-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 2px;
    margin: 8px 0;
    background-color: #777;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(1) {
    width: 100%;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(3) {
    width: 60%;
    -webkit-transition: -webkit-transform 1.2s ease;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .header .mb .menu {
    position: fixed;
    top: 0%;
    left: 100%;
    height: 800px;
    width: 1000px;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: rgba(0, 0, 0, 0.85);
  }
  .header .mb .menu .list {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
  }
  .header .mb .menu .list .list-item a {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 27px;
    font-family: 'Bubbler One', sans-serif;
  }
  .header .mb .open.ham-btn-line {
    background-color: #ccc;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(1) {
    width: 15px;
    top: 8px;
    left: -5px;
    -webkit-transform: rotate(135deg) translateX(-5px);
            transform: rotate(135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(3) {
    width: 15px;
    bottom: 8px;
    left: -5px;
    -webkit-transform: rotate(-135deg) translateX(-5px);
            transform: rotate(-135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .header .mb .open.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 35%;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .header .mb .open.menu .list {
    position: absolute;
    top: 55%;
    left: 12%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
  }
}

.wrapper {
  height: 100%;
  padding-bottom: 20px;
  position: relative;
  /*-------------------------------------
  Top
  --------------------------------------*/
}

.wrapper .top {
  position: relative;
  height: 100%;
}

.wrapper .top .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .top .content h2 {
  letter-spacing: 7px;
  font-size: 50px;
}

.wrapper .top .content h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 100%;
}

.wrapper .top .content p {
  font-family: 'Bad Script', cursive;
  text-align: center;
  font-size: small;
  font-size: 20px;
}

.wrapper .top .content li {
  width: 45px;
  height: 45px;
}

.wrapper .top .down-allow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  -webkit-animation-name: down-allow;
          animation-name: down-allow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes down-allow {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 35px;
  }
}

@keyframes down-allow {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 35px;
  }
}

.wrapper .top .down-allow a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wrapper .top .down-allow a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: translateX(50%) rotate(135deg);
          transform: translateX(50%) rotate(135deg);
}

.wrapper .top .down-allow a:hover {
  cursor: pointer;
}

.wrapper .top .down-allow a:hover::after {
  border-color: #00a1e9;
}

/* =============================================
  Footer
  ============================================= */
.footer {
  width: 100%;
}

.footer .rain {
  padding: 30px;
  height: 20px;
}

.footer .content {
  position: absolute;
  text-align: center;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

@media screen and (max-width: 599px) {
  h2::after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    margin: 8px auto 20px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
    background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
    width: 40%;
  }
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

strong {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #02dded));
  background: linear-gradient(transparent 70%, #02dded 70%);
}

/* logo */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 20px auto 10px;
  position: relative;
}

.logo li {
  width: 35px;
  height: 35px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.logo li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.logo-desc {
  font-size: 6px;
}

.logo-twitter {
  margin-top: 3px;
}

/* .logo .position-qiita,
  .logo-switching .position-qiita {
  position: absolute;
  top: -5px;
  right: 100px;
} */
/* float */
.floatL {
  float: left;
}

.floatR {
  float: right;
}

.over-hidden {
  overflow: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

/* scroll-fadein */
.scroll-fadein.invisible {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

@media screen and (max-width: 600px) {
  .scroll-fadein.invisible {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
}

.scroll-fadein.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

/**
  * パララックス
  */
.parallax {
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

.parallax.top {
  background-position: 20% top;
  background-image: url(../img/top.jpg);
}

/**
  * トップへ戻る
  */
.to-top {
  background-color: rgba(135, 206, 250, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 40% 40% 50% 40%/50% 50% 50% 50%;
  opacity: 0.7;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.to-top a {
  display: block;
  background-color: red;
}

.to-top a:hover {
  cursor: pointer;
}

.to-top a::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 32px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=common.css.map */