@charset "UTF-8";
/* =============================================
Header navigation
============================================= */
.nav {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #fff;
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.nav .title {
  font-family: 'Meie Script', cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

.nav .list {
  position: absolute;
  right: -100%;
  top: 0;
  margin-top: 15px;
  /* 要素同士の隙間が開くのを防ぐ */
  letter-spacing: -0.5em;
}

.nav .list li {
  display: inline-block;
  letter-spacing: normal;
}

.nav .list li + li {
  border-left: 1px solid #aaa;
}

.nav .list a {
  display: block;
  padding: 5px 15px;
}

.nav .list a:hover {
  color: #777;
}

/* =============================================
Main content
============================================= */
.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Top
--------------------------------------*/
.top {
  position: relative;
  height: 500px;
  background: url(../img/top.png) left top/cover no-repeat;
  color: #fff;
}

.top .content {
  position: absolute;
  left: -100%;
  top: 50%;
}

.top .content h2 {
  letter-spacing: 7px;
  font-size: 30px;
}

.top .content h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #fff), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
}

.top .content p {
  text-align: center;
  font-size: small;
}

.top .content a {
  color: #fff;
}

.top .saying {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 40%;
  font-size: 37px;
  line-height: 1.5em;
}

/*-------------------------------------
About
--------------------------------------*/
.about {
  background: linear-gradient(#fff, #fff 300px, #eee 300px, #eee);
  padding: 0 40px 40px;
  position: relative;
}

.about .prf-img {
  text-align: center;
  margin-bottom: 50px;
}

.about .prf-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-logo {
  position: absolute;
  top: 375px;
  right: 20%;
}

.about-logo .logo {
  width: 130px;
}

.about .introduction .first-half,
.about .introduction .latter-half {
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  line-height: 2em;
}

.about .introduction p.latter-half {
  width: 45%;
}

<<<<<<< HEAD
.about .introduction p.latter-half .about-work {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

=======
>>>>>>> origin/main
.about .introduction .first-half .first-half,
.about .introduction .first-half .latter-half {
  width: 100%;
}

.about .introduction .first-half dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .introduction .first-half dl dt,
.about .introduction .first-half dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #777 1px dotted;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.about .introduction .first-half dl dt {
  width: 20%;
}

.about .introduction .first-half dl dd {
  width: 80%;
}

.about .introduction .first-half .first-half dd:first-of-type,
.about .introduction .first-half .first-half dt:first-of-type {
  border-top: #777 1px dotted;
}

.about-name {
<<<<<<< HEAD
=======
  margin-bottom: 40px;
>>>>>>> origin/main
  text-align: center;
  font-size: 36px;
  padding: 10px;
}

.about-name .name-ja::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 40%;
  margin: 8px auto;
}

.about-name .name-en {
  padding: 0;
  font-size: medium;
}

/*-------------------------------------
Skills
--------------------------------------*/
.skills .container {
  width: 100%;
}

.skills .container .glide__track .glide__slides {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .container .glide__track .glide__slides .glide__slide {
  border-radius: 15%;
  -webkit-box-shadow: 0 100px 100px -50px rgba(0, 0, 0, 0.25), 0 -100px 100px -50px rgba(0, 0, 0, 0.25), 20px 0 80px -50px rgba(0, 0, 0, 0.15), -20px 0 80px -50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 100px 100px -50px rgba(0, 0, 0, 0.25), 0 -100px 100px -50px rgba(0, 0, 0, 0.25), 20px 0 80px -50px rgba(0, 0, 0, 0.15), -20px 0 80px -50px rgba(0, 0, 0, 0.15);
  text-align: center;
  height: 300px;
  position: relative;
}

.skills .container .glide__track .glide__slides .glide__slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  max-height: 100%;
}

/* =============================================
Footer
============================================= */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .rain {
  padding: 30px;
  height: 20px;
}

.footer .content {
  position: absolute;
  text-align: center;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
}

/* =============================================
タブレット
============================================= */
@media screen and (max-width: 1024px) {
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  About
  --------------------------------------*/
  .about .prf-img {
    margin-bottom: 20px;
  }
  .about .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-logo {
    width: 100%;
    position: static;
  }
  .about .introduction .first-half,
  .about .introduction .latter-half,
  .about .introduction p.latter-half {
    width: 100%;
  }
  .about .introduction p.latter-half {
    margin-top: 40px;
  }
  .about .latter-half dt {
    border-top: none;
  }
}

/* =============================================
モバイル用
============================================= */
@media screen and (max-width: 599px) {
  /* =============================================
  Header navigation
  ============================================= */
  .nav .list {
    right: 0;
  }
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  .top .content {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .top .saying {
    display: none;
  }
  /*-------------------------------------
  About
  --------------------------------------*/
  .about .prf-img {
    margin-bottom: 20px;
  }
  .about .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-logo {
    width: 100%;
    position: static;
  }
  .about .introduction .first-half,
  .about .introduction .latter-half,
  .about .introduction p.latter-half {
    width: 100%;
  }
  .about .latter-half dt {
    border-top: none;
  }
}
/*# sourceMappingURL=style.css.map */