@charset "UTF-8";
/* =============================================
Header navigation
============================================= */
.header {
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  padding: 10px 0 15px 10px;
  background-color: #f5f5f5;
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.header .title {
  font-family: 'Meie Script', cursive;
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  padding-left: 10px;
}

.header .pc .list {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  /* 要素同士の隙間が開くのを防ぐ */
  letter-spacing: -0.5em;
}

.header .pc .list li {
  display: inline-block;
  letter-spacing: normal;
}

.header .pc .list li + li {
  border-left: 1px solid #aaa;
}

.header .pc .list a {
  display: block;
  padding: 5px 15px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header .pc .list a:hover {
  color: #777;
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header .mb {
  display: none;
}

/* =============================================
Main content
============================================= */
.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Service
--------------------------------------*/
.service .service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service-lists .service-list {
  width: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #87CEFA;
}

.service .service-lists .service-list h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.service .service-lists .service-list .service-icon {
  width: 100%;
}

.service .service-lists .service-list .service-icon img {
  width: 200px;
  height: 200px;
}

.service .service-lists .service-list p {
  margin-top: 20px;
}

/*-------------------------------------
About
--------------------------------------*/
.about {
  background: linear-gradient(#fff, #fff 300px, #eee 300px, #eee);
  padding: 0 40px 40px;
  position: relative;
}

.about .prf-img {
  text-align: center;
  margin-bottom: 50px;
}

.about .prf-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-logo {
  position: absolute;
  top: 375px;
  right: 20%;
}

.about-logo .logo {
  width: 130px;
}

.about .introduction .first-half,
.about .introduction .latter-half {
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2em;
}

.about .introduction p.latter-half {
  width: 45%;
}

.about .introduction p.latter-half .about-work {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.about .introduction .first-half .first-half,
.about .introduction .first-half .latter-half {
  width: 100%;
}

.about .introduction .first-half dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .introduction .first-half dl dt,
.about .introduction .first-half dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #777 1px dotted;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.about .introduction .first-half dl dt {
  width: 30%;
}

.about .introduction .first-half dl dd {
  width: 70%;
}

.about .introduction .first-half .first-half dd:first-of-type,
.about .introduction .first-half .first-half dt:first-of-type {
  border-top: #777 1px dotted;
}

.about-name {
  text-align: center;
  font-size: 36px;
  padding: 10px;
}

.about-name .name-ja::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 40%;
  margin: 8px auto;
}

.about-name .name-en {
  padding: 0;
  font-size: medium;
}

/*-------------------------------------
Skills
--------------------------------------*/
.skills .container {
  width: 100%;
}

.skills .container .glide__track .glide__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 750px;
}

.skills .container .glide__track .glide__slides .glide__slide {
  height: 600px;
  margin: 50px auto;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.25), -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.25), -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: url(../img/skills-bg.jpg);
  -webkit-transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.skills .container .glide__track .glide__slides .glide__slide:hover {
  -webkit-transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.skills .container .glide__track .glide__slides .glide__slide .skill-name {
  font-size: 40px;
  margin-top: 15px;
}

.skills .container .glide__track .glide__slides .glide__slide .skill-name:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 110px;
}

.skills .container .glide__track .glide__slides .glide__slide .skill-img {
  position: relative;
  padding: 20px;
  height: 300px;
}

.skills .container .glide__track .glide__slides .glide__slide .skill-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skills .container .glide__track .glide__slides .glide__slide .star {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #aaa;
  font-size: 24px;
}

.skills .container .glide__track .glide__slides .glide__slide .star:before, .skills .container .glide__track .glide__slides .glide__slide .star:after {
  content: '★★★★★';
}

.skills .container .glide__track .glide__slides .glide__slide .star:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf00;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="5"]:after {
  width: 100%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="4.5"]:after {
  width: 90%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="4"]:after {
  width: 80%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="3.5"]:after {
  width: 70%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="3"]:after {
  width: 60%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="2.5"]:after {
  width: 50%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="2"]:after {
  width: 40%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="1.5"]:after {
  width: 30%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="1"]:after {
  width: 20%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="0.5"]:after {
  width: 10%;
}

.skills .container .glide__track .glide__slides .glide__slide .star[star="0"]:after {
  width: 0%;
}

.skills .container .glide__track .glide__slides .glide__slide hr {
  margin: 20px auto 0;
  width: 85%;
}

.skills .container .glide__track .glide__slides .glide__slide .sub-skill {
  padding: 10px 30px;
}

.skills .container .glide__track .glide__slides .glide__slide .sub-skill-img,
.skills .container .glide__track .glide__slides .glide__slide .sub-skill .desc {
  display: inline-block;
  vertical-align: middle;
}

.skills .container .glide__track .glide__slides .glide__slide .sub-skill-img {
  width: 40%;
  height: 130px;
  padding-left: 10px;
}

.skills .container .glide__track .glide__slides .glide__slide .sub-skill .desc {
  width: 58%;
}

.skills .container .glide__arrow {
  color: #444;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
}

.skills .container .glide__arrow:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/* =============================================
タブレット
============================================= */
@media screen and (max-width: 1024px) {
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  /*-------------------------------------
  About
  --------------------------------------*/
  .about .prf-img {
    margin-bottom: 20px;
  }
  .about .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-logo {
    width: 100%;
    position: static;
  }
  .about .introduction .first-half,
  .about .introduction .latter-half,
  .about .introduction p.latter-half {
    width: 100%;
  }
  .about .introduction p.latter-half {
    margin-top: 40px;
  }
  .about .latter-half dt {
    border-top: none;
  }
}

/* =============================================
モバイル用
============================================= */
@media screen and (max-width: 599px) {
  /* =============================================
  Header navigation
  ============================================= */
  .header .pc {
    display: none;
  }
  .header .mb {
    display: block;
  }
  .header .mb .ham-btn {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
    height: 36px;
    width: 42px;
  }
  .header .mb .ham-btn-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 2px;
    margin: 8px 0;
    background-color: #777;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(1) {
    width: 100%;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }
  .header .mb .ham-btn-line:nth-of-type(3) {
    width: 60%;
    -webkit-transition: -webkit-transform 1.2s ease;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .header .mb .menu {
    position: fixed;
    top: 0%;
    left: 100%;
    height: 800px;
    width: 1000px;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: rgba(0, 0, 0, 0.85);
  }
  .header .mb .menu .list {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
  }
  .header .mb .menu .list .list-item a {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 27px;
  }
  .header .mb .open.ham-btn-line {
    background-color: #ccc;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(1) {
    width: 15px;
    top: 8px;
    left: -5px;
    -webkit-transform: rotate(135deg) translateX(-5px);
            transform: rotate(135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(2) {
    width: 80%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .header .mb .open.ham-btn-line:nth-of-type(3) {
    width: 15px;
    bottom: 8px;
    left: -5px;
    -webkit-transform: rotate(-135deg) translateX(-5px);
            transform: rotate(-135deg) translateX(-5px);
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .header .mb .open.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 35%;
    -webkit-transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .header .mb .open.menu .list {
    position: absolute;
    top: 55%;
    left: 12%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
    transition: left 0.6s ease-in-out, top 0.6s ease-in-out;
  }
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  /*-------------------------------------
  About
  --------------------------------------*/
  .about .prf-img {
    margin-bottom: 20px;
  }
  .about .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-logo {
    width: 100%;
    position: static;
  }
  .about .introduction .first-half,
  .about .introduction .latter-half,
  .about .introduction p.latter-half {
    width: 100%;
  }
  .about .introduction .latter-half dt {
    border-top: none;
  }
  /*-------------------------------------
  Skills
  --------------------------------------*/
}
/*# sourceMappingURL=style.css.map */