@charset "UTF-8";
/**
 * 見出しのアンダーライン
 */
/**
 * カード
 */
/**
 * イージングを指定
 */
/* =============================================
Main content
============================================= */
.main {
  margin-bottom: 80px;
}

/*-------------------------------------
Service
--------------------------------------*/
.service {
  margin-bottom: 20px;
}

.service h2 {
  margin-top: 15px;
}

.service .service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service-lists .service-list {
  position: relative;
  width: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3), 6px 0 10px -6px rgba(0, 0, 0, 0.3), -6px 0 10px -6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3), 6px 0 10px -6px rgba(0, 0, 0, 0.3), -6px 0 10px -6px rgba(0, 0, 0, 0.3);
}

.service .service-lists .service-list h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.service .service-lists .service-list h3::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 50%;
}

.service .service-lists .service-list .service-icon {
  width: 100%;
  margin: 10px auto;
}

.service .service-lists .service-list .service-icon img {
  width: 200px;
  height: 200px;
}

.service .service-lists .service-list p {
  text-align: left;
}

/*-------------------------------------
About
--------------------------------------*/
.about {
  background: linear-gradient(#fff, #fff 180px, #f5f5f5 180px, #f5f5f5);
  padding: 0 40px 40px;
  position: relative;
}

.about .prf-img {
  text-align: center;
  margin-bottom: 50px;
}

.about .prf-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-logo {
  position: absolute;
  top: 330px;
  right: 20%;
}

.about-logo .logo {
  width: 130px;
}

.about .about-name.pc {
  display: block;
}

.about .about-name.mb {
  display: none;
}

.about .introduction .first-half,
.about .introduction .latter-half {
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .introduction .first-half .first-half,
.about .introduction .first-half .latter-half {
  width: 100%;
}

.about .introduction .first-half dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2.5em;
}

.about .introduction .first-half dl dt,
.about .introduction .first-half dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #777 1px dotted;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.about .introduction .first-half dl dt {
  width: 30%;
}

.about .introduction .first-half dl dd {
  width: 70%;
}

.about .introduction .first-half .latter-half dt:last-of-type,
.about .introduction .first-half .latter-half dd:last-of-type {
  border-bottom: none;
}

.about .introduction .sentence {
  width: 45%;
  margin-top: 80px;
}

.about-name {
  text-align: center;
  font-size: 36px;
  padding: 10px;
  line-height: 1.2em;
}

.about-name .name-en {
  text-indent: 0;
  margin-bottom: 20px;
  font-family: 'Bad Script', cursive;
}

.about-name .name-en::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 40%;
  margin: 8px auto;
}

/*-------------------------------------
Skills
--------------------------------------*/
.skills .container {
  width: 100%;
}

.skills .container .pc .skill-name,
.skills .container .mb .skill-name {
  position: relative;
  font-size: 40px;
  margin-top: 25px;
  letter-spacing: .15em;
  font-family: 'Bad Script', cursive;
}

.skills .container .pc .skill-name:after,
.skills .container .mb .skill-name:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 110px;
}

.skills .container .pc .skill-name .num-pos,
.skills .container .mb .skill-name .num-pos {
  position: absolute;
  top: -17px;
}

.skills .container .pc .skill-img,
.skills .container .mb .skill-img {
  position: relative;
  padding: 20px;
  height: 300px;
}

.skills .container .pc .skill-img img,
.skills .container .mb .skill-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skills .container .pc .star,
.skills .container .mb .star {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  color: #aaa;
  font-size: 24px;
}

.skills .container .pc .star:before, .skills .container .pc .star:after,
.skills .container .mb .star:before,
.skills .container .mb .star:after {
  content: '★★★★★';
}

.skills .container .pc .star:after,
.skills .container .mb .star:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf00;
}

.skills .container .pc .star[star="5"]:after,
.skills .container .mb .star[star="5"]:after {
  width: 100%;
}

.skills .container .pc .star[star="4.5"]:after,
.skills .container .mb .star[star="4.5"]:after {
  width: 90%;
}

.skills .container .pc .star[star="4"]:after,
.skills .container .mb .star[star="4"]:after {
  width: 80%;
}

.skills .container .pc .star[star="3.5"]:after,
.skills .container .mb .star[star="3.5"]:after {
  width: 70%;
}

.skills .container .pc .star[star="3"]:after,
.skills .container .mb .star[star="3"]:after {
  width: 60%;
}

.skills .container .pc .star[star="2.5"]:after,
.skills .container .mb .star[star="2.5"]:after {
  width: 50%;
}

.skills .container .pc .star[star="2"]:after,
.skills .container .mb .star[star="2"]:after {
  width: 40%;
}

.skills .container .pc .star[star="1.5"]:after,
.skills .container .mb .star[star="1.5"]:after {
  width: 30%;
}

.skills .container .pc .star[star="1"]:after,
.skills .container .mb .star[star="1"]:after {
  width: 20%;
}

.skills .container .pc .star[star="0.5"]:after,
.skills .container .mb .star[star="0.5"]:after {
  width: 10%;
}

.skills .container .pc .star[star="0"]:after,
.skills .container .mb .star[star="0"]:after {
  width: 0%;
}

.skills .container .pc hr,
.skills .container .mb hr {
  margin: 20px auto 0;
  width: 85%;
}

.skills .container .pc .sub-skill,
.skills .container .mb .sub-skill {
  padding: 10px 30px;
}

.skills .container .pc .sub-skill-img,
.skills .container .pc .sub-skill .desc,
.skills .container .mb .sub-skill-img,
.skills .container .mb .sub-skill .desc {
  display: inline-block;
  vertical-align: middle;
}

.skills .container .pc .sub-skill-img,
.skills .container .mb .sub-skill-img {
  width: 40%;
  height: 130px;
}

.skills .container .pc .sub-skill .desc,
.skills .container .mb .sub-skill .desc {
  width: 56%;
}

.skills .container .pc .glide__track .glide__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 750px;
}

.skills .container .pc .glide__track .glide__slides .glide__slide {
  position: relative;
  height: 600px;
  margin: 50px auto;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25), -10px 10px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25), -10px 10px 10px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-image: url(../img/skills-bg.jpg);
  -webkit-transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transform: rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.skills .container .pc .glide__track .glide__slides .glide__slide .skill-click {
  position: absolute;
  top: -70px;
  left: 53%;
  -webkit-transform: rotateX(-5deg) rotateY(20deg) rotateZ(8deg) translateX(-50%);
          transform: rotateX(-5deg) rotateY(20deg) rotateZ(8deg) translateX(-50%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  font-family: 'Bubbler One', sans-serif;
  letter-spacing: .4em;
  -webkit-animation-name: slide-click;
          animation-name: slide-click;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slide-click {
  0% {
    top: -70px;
  }
  100% {
    top: -65px;
  }
}

@keyframes slide-click {
  0% {
    top: -70px;
  }
  100% {
    top: -65px;
  }
}

.skills .container .pc .glide__track .glide__slides .glide__slide .skill-click::after {
  content: "";
  display: block;
  position: absolute;
  top: 75%;
  left: 35%;
  width: 8px;
  height: 8px;
  border-top: solid 1px #444;
  border-right: solid 1px #444;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.skills .container .pc .glide__track .glide__slides .glide__slide .skill-click:hover {
  cursor: pointer;
}

.skills .container .pc .glide__track .glide__slides .glide__slide:hover {
  -webkit-transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
          transform: translateY(-20px) rotateX(5deg) rotateY(-20deg) rotateZ(-8deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.skills .container .pc .glide__track .glide__slides .glide__slide:hover .skill-click {
  -webkit-transform: translateX(-50%) translateY(20px) rotateX(-5deg) rotateY(20deg) rotateZ(8deg);
          transform: translateX(-50%) translateY(20px) rotateX(-5deg) rotateY(20deg) rotateZ(8deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.skills .container .pc .glide__track .glide__slides .glide__slide.not-has-sub-skill a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skills .container .pc .glide__arrow {
  color: #444;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
}

.skills .container .pc .glide__arrow:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.skills .container .mb .skill-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .container .mb .skill-btn .skill-more-btn,
.skills .container .mb .skill-btn .skill-close-btn {
  display: none;
  border: none;
  margin: 20px;
  position: relative;
  padding: 8px 12px;
  font-size: 20px;
  font-family: 'Bubbler One', sans-serif;
  letter-spacing: 0.4em;
  color: #666;
  border: 1px solid #545454;
  background-color: #f5f5f5;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.skills .container .mb .skill-btn .skill-more-btn::before, .skills .container .mb .skill-btn .skill-more-btn::after,
.skills .container .mb .skill-btn .skill-close-btn::before,
.skills .container .mb .skill-btn .skill-close-btn::after {
  content: '';
  display: block;
  position: absolute;
  border-color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.skills .container .mb .skill-btn .skill-more-btn::before,
.skills .container .mb .skill-btn .skill-close-btn::before {
  top: -6px;
  left: -6px;
  border-width: 1px 0 0 1px;
  z-index: 1;
}

.skills .container .mb .skill-btn .skill-more-btn::after,
.skills .container .mb .skill-btn .skill-close-btn::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 1px 1px 0;
  z-index: 1;
}

.skills .container .mb .skill-btn .skill-more-btn:hover,
.skills .container .mb .skill-btn .skill-close-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.skills .container .mb .skill-btn .skill-more-btn:hover::before, .skills .container .mb .skill-btn .skill-more-btn:hover::after,
.skills .container .mb .skill-btn .skill-close-btn:hover::before,
.skills .container .mb .skill-btn .skill-close-btn:hover::after {
  width: calc(80% + 6px);
  height: calc(80% + 6px);
}

.skills .container .mb .skill-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .container .mb .skill-lists.has-skill-btn::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 200px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.3)), to(#fff));
  background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.3) 50%, #fff 100%);
}

.skills .container .mb .skill-lists .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3), 6px 0 10px -6px rgba(0, 0, 0, 0.3), -6px 0 10px -6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3), 6px 0 10px -6px rgba(0, 0, 0, 0.3), -6px 0 10px -6px rgba(0, 0, 0, 0.3);
  width: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px .5%;
  height: 100%;
  min-height: 200px;
}

.skills .container .mb .skill-lists .skill-list .skill-img {
  position: relative;
  height: auto;
  width: 80px;
}

.skills .container .mb .skill-lists .skill-list .skill-img img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 100%;
}

.skills .container .mb .skill-lists .skill-list .skill-img .star {
  position: absolute;
  bottom: 25px;
  left: 15px;
  display: inline-block;
  white-space: nowrap;
  color: #aaa;
  font-size: 16px;
  margin: auto;
}

.skills .container .mb .skill-lists .skill-list .skill-img .star:before, .skills .container .mb .skill-lists .skill-list .skill-img .star:after {
  content: '★★★★★';
}

.skills .container .mb .skill-lists .skill-list .skill-img .star:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf00;
}

.skills .container .mb .skill-lists .skill-list .skill-desc {
  padding: 10px;
  margin-left: 40px;
}

.skills .container .mb .skill-lists .skill-list .skill-desc .skill-name {
  position: relative;
  font-size: 20px;
  margin-top: 25px;
  letter-spacing: .15em;
  font-family: 'Bad Script', cursive;
  text-align: center;
}

.skills .container .mb .skill-lists .skill-list .skill-desc .skill-name:after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  margin: 8px auto 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
  width: 50%;
  margin: 0 auto;
}

.skills .container .mb .skill-lists .skill-list .skill-desc .skill-name:has(.num-pos):after {
  width: 60%;
}

.skills .container .mb .skill-lists .skill-list .skill-desc .skill-name.has-num-pos:after {
  width: 60%;
}

.skills .container .mb .skill-lists .skill-list .skill-desc .skill-name .num-pos {
  position: absolute;
  top: -8px;
}

.skills .container .mb .skill-lists .skill-list .skill-desc p {
  line-height: 1.5em;
  padding: 20px 10px;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .skills .container .mb .skill-lists .skill-list:last-child:nth-child(odd) {
    width: 100%;
  }
  .skills .container .mb .skill-lists .skill-list:last-child:nth-child(odd) .skill-name:after {
    width: 23%;
  }
  .skills .container .mb .skill-lists .skill-list:last-child:nth-child(odd) .skill-img {
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .skills .container .mb .skill-lists .skill-list:last-child:nth-child(odd) .star {
    position: absolute;
    bottom: -60px;
    left: 30px;
  }
  .skills .container .mb .skill-lists .skill-list:last-child:nth-child(odd) .skill-desc {
    position: relative;
    left: 40px;
    margin: 0 auto 20px;
    max-width: 40%;
  }
}

/* =============================================
タブレット&モバイル共通
============================================= */
@media screen and (max-width: 1024px) {
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  .top .content h2,
  .top .content p {
    line-height: 1.2em;
  }
  /*-------------------------------------
  Service
  --------------------------------------*/
  .service .service-lists {
    display: block;
  }
  .service .service-lists .service-list {
    width: 100%;
    margin-bottom: 40px;
  }
  .service .service-lists .service-list h3 {
    font-size: 24px;
  }
  /*-------------------------------------
  About
  --------------------------------------*/
  .about .prf-img {
    margin-bottom: 20px;
  }
  .about .prf-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-logo {
    width: 100%;
    position: static;
  }
  .about .about-name.pc {
    display: none;
  }
  .about .about-name.mb {
    display: block;
  }
  .about .about-name.mb .name-en {
    margin-bottom: 0;
  }
  .about .introduction .first-half,
  .about .introduction .latter-half {
    width: 100%;
  }
  .about .introduction .first-half {
    margin-top: 20px;
  }
  .about .introduction .first-half .latter-half dt:last-of-type,
  .about .introduction .first-half .latter-half dd:last-of-type {
    border-bottom: #777 1px dotted;
    margin-bottom: 50px;
  }
  .about .introduction .sentence {
    margin-top: 20px;
  }
  .about .introduction .latter-half dt {
    border-top: none;
  }
  /*-------------------------------------
  Skills
  --------------------------------------*/
  .skills .container {
    width: 90%;
  }
  .skills .container .pc {
    display: none;
  }
  .skills .container .mb {
    display: block;
  }
  .skills .container .mb .skill-lists .skill-list {
    width: 100%;
  }
}

/* =============================================
タブレット
============================================= */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  /*-------------------------------------
  Service
  --------------------------------------*/
  /*-------------------------------------
  About
  --------------------------------------*/
  /*-------------------------------------
  Skills
  --------------------------------------*/
  .skills .container .mb .skill-lists .skill-list {
    height: 200px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-img {
    width: 100px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-img .star {
    position: absolute;
    bottom: 30px;
    left: 17px;
    font-size: 14px;
  }
}

/* =============================================
モバイル用
============================================= */
@media screen and (max-width: 599px) {
  /* =============================================
  Main content
  ============================================= */
  /*-------------------------------------
  Top
  --------------------------------------*/
  /*-------------------------------------
  Service
  --------------------------------------*/
  .service .service-lists .service-list h3 {
    font-size: 20px;
  }
  /*-------------------------------------
  About
  --------------------------------------*/
  /*-------------------------------------
  Skills
  --------------------------------------*/
  .skills .container .mb .skill-lists .skill-list {
    height: 100%;
    min-height: 280px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-img {
    width: 150px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-img img {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 100%;
  }
  .skills .container .mb .skill-lists .skill-list .skill-img .star {
    position: absolute;
    bottom: 60px;
    left: 16px;
    font-size: 12px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-desc .skill-name {
    margin-top: 10px;
  }
  .skills .container .mb .skill-lists .skill-list .skill-desc .skill-name:after {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    margin: 8px auto 20px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000), to(transparent));
    background: linear-gradient(90deg, transparent 0%, #000 50%, transparent 100%);
    width: 50%;
    margin: 0 auto;
  }
  .skills .container .mb .skill-lists .skill-list .skill-desc p {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .2em;
    padding: 10px 10px;
  }
}
/*# sourceMappingURL=style.css.map */